
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }


  /**************************/
  /* Nav */
  /**************************/
  .header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: #8b8b8b;
    height: 154px;
    padding: 0 77px;
  }
  
  .logo {
    font-size: 75px;
    font-weight: 650;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #4c9e9e, 0px 0px 10px #4c9e9e, 0px 0px 10px #4c9e9e,
    0px 0px 20px #4c9e9e;
  }

  .logo:hover {
    cursor:pointer;
    letter-spacing: 2.4px;
    transition: 0.2s;
  }
  

  .nav a, li {
    color: rgb(26, 25, 25);
    list-style: none;
   text-decoration: none;
   }
   
   .nav-list {
    display: flex;
    gap: 8px;
    font-size: 30px ;
   }
   .nav-list li:hover {
    background-color: #4c9e9e;
    text-decoration: underline black;
    border-radius: 4px;
   
   }
   .nav-list li {
    padding: 6px 12px;
   }
   .knapp, #checkbox_toggle{
     display: none;
     font-size: 34px;
   }
  

/***********************/
/* Tekstrelatert**********/
/****h1, h2, a, 
klasse til h2 og p ***/
.første-oversikt {
  font-size: 83px;
  line-height: 1;
  margin-bottom: 48px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.info-tekst{
  font-size: 32px;
  line-height: 1.6;
}
.footer-tekst, .adresse-kolonne, .epost-kolonne, .mobil-kolonne{
  font-weight: bold;
  font-size: 30px;
}

.copyright {
  font-size: 12px;
}

  
  /****************/
  /*Layout*/
  /*********************/

  
.velkommen-seksjon {
    background-color: #b4b1b1;
    padding: 77px 0 154px 0;
  }
  
  .info {
    max-width: 2080px;
    margin: 0 auto;
    padding: 0 51px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 154px;
    align-items: center;
  }
  
  .info-tekst{
    margin-bottom: 4.8rem;
  }
  
  .info-bilde{
    width: 100%;
  }
 


/**************************/
/* Footer */
/**************************/

.footer{
    padding: 80px 0 64px 80px;
    border-top: 1px solid #b4b1b1; ;
}

.footer-link {
  color:black;
  text-decoration: none;

}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr)

}
.footer-container {
    font-size: 1.5rem;
    
}

/*****************/
/*Tablets*********/
@media(max-width:940px){
 
/*****Naven*******/
  .nav-list{ 
    display:none;
    position: absolute;
    background-color: #b4b1b1;
    right: 0;
    left: 0;
    text-align: center;
    padding: 19px 0;
   }
   .nav-list li:hover {
    display: inline-block;
    background-color:#489696;
   }
   .nav-list li + li {
    margin-top: 16px;
   }
   input[type=checkbox]:checked ~ .nav-list{
    display: block;
   }
   .knapp{
    display: block;
   }




 /******Velkomen siden******/
 .info-tekst{
  margin-bottom: 0;
 }
 .info{
   padding: 16px 48px;
   grid-template-columns: 1fr;
 }
 .info-bilde{
   align-items: center;
   padding-left: 50px;
 width: 80%;
 }
 
 .første-oversikt{

   font-size: 64px;
   margin-bottom: 32px;
   margin-top: 48px;
 }

 /****Footer*****/
 .footer{
  padding: 10px 0 15px 10px;

}

.footer-tekst, .adresse-kolonne, .epost-kolonne, .mobil-kolonne{
  font-size: 25px;
}


/**********Mobil**************/
@media (max-width: 480px) {

  .info-tekst{
    font-size: 24px;
    padding: 20px,20px;
   }
   .første-oversikt{
     font-size: 48px;
   
  }
 

  .footer-container{
    display: grid;
    grid-template-columns: 1fr;
}

.footer-container p{
  font-size: 24px;
  padding-bottom: 16px;
  padding-top: 8px;
}


}

}

  

