
/*************/
/* Tekstrelatert:
h1, h2, a, 
klasse til h2 og p */
/************/
h2 {
  font-size: 45px;
  padding: 32px 0;
}

p{
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 1.4;
}

h1{
  font-size: 80px;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 64px;
}

figure{
  font-size: 16px;
}
.overskrift{
  font-size: 20px;
  font-weight: 300;
}

.booking-tekst{
  font-size: 24px;
  font-family: monospace;
}

.meny-container p {
  font-family: monospace;
}


/****************/
/**Layout  Akutell og tilgjenlighet siden/
/*********************/

main > article{
    padding: 64px 0 0;
    margin-bottom: 32px;
    border-radius: 5px;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin: 0 auto;
    

}

.fillMain {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    max-width: 150ch;
    margin: 0 auto;
}

.aktuell-article {
  background-color: whitesmoke;
}


.aktuell-tekst{
    padding: 64px 80px 64px;
}


.tilgjengelighet-article {
  max-width: 150ch;
}

.tilgjengelighet-tekst {
  border-style: solid;
  padding: 64px 80px 64px;
}

figure{
    margin:  48px;
    text-align: center;

}
.overskrift{
    margin-bottom: 64px;
    margin-top: 80px;
}

.book-form input,
.book-form select {
  font-size: 19px;

}



/***************/
/***Layout Booking*****/

.book-seksjon {
    padding: 77px 0 205px;
  }
  
  .book {
    display: grid;
    grid-template-columns: 2fr;
    box-shadow: 0 38px 77px rgba(0, 0, 0, 0.15);
    border-radius: 11px;
    overflow: hidden;
    
  }
  
  .book-tekst-box{
    padding: 77px 102px 102px 102px;
    color: #070706;
    align-items: center;
    justify-content: center;
  }
  
  .book .tekst-box-overskrift {
    margin-bottom: 20px;
  }
  .book-overskrift{
    text-align: center;
  }


  .boook-form {
    display: grid;
    row-gap: 42px;
    grid-template-columns:1fr 1fr;
    column-gap: 48px;

  }
  
  .book-form label {
    display: block;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 20px;
   
  }
  
  .book-form input,
  .book-form select {
    width: 50%;
    padding: 22px;
    background-color: #fdf2e9;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(94, 8, 8, 0.1);
  }

  #hvorMange {
    width: 15%;
  }
  .button {
    padding: 20px 38px;
    border-radius: 9px;
    color: #fff;
    background-color: #1c2c20;
    margin-top: 32px;
    font-size: 32px;
   
  }

  .button:hover {
    cursor: pointer;
  }

  .maps {
    position:relative;
    text-align:right;
    height:500px;
    width:800px;
    margin-bottom: 50px;
  }
  
  .gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:800px;
    margin-top: 50px;
    
  }

  /************/
  /**Layout Meny siden*/

  .meny-container{
	display: flex;
    flex-direction: row;
	flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    margin: 64px;
}

.meny-box{
	padding: 5px;
	margin: 10px;
}

.meny {
    display: grid;
    grid-template-columns: repeat(3, 1.5fr);
    border: 3px solid;
    margin: 32px 0 80px;
    padding: 32px 48px 64px 48px;
    background-color: white;
}




.type{
    align-items: center;
    font-size: 32px;
    font-family: monospace;
}




/****Media-Query**/
/*****TABLETS*****/
@media(max-width:940px){


  /*****Generelt*********/
  h2{
    font-size: 40px;
  }
  p{
    font-size: 20px;
  }



  /******Booking siden******/
  
.booking-tekst{
  font-size: 35px;
  padding: 0 30px 0 30px;
  max-width: 940px;
  
}

#lydTekst {
  font-size: 35px;
  max-width: 940px;
}
.book-overskrift{
  font-size: 60px;
}
.book-seksjon {
  max-width: 940px;
}

/**Meny***/


.meny {
 
  display: grid;
  grid-template-columns: 1fr;

  
}
.meny-item{
  text-align: center;
}

.meny-box img:hover {
  height: 280px;
  width: 350px;
  transition: 1s;
}


/********Aktuel og tilgjenglighet********/
.aktuell-tekst{
  padding: 32px 0 32px;
  
}
.akutell-bilde{
  width: 30%;
}
figure{
  width: 20px;
}


}

/****Mobil****/
@media (max-width: 480px) {
/***********Generelt ****************/
h1{
  font-size: 48px;
}
 h2{
  font-size: 30px;
}
p{
  font-size: 19px;
}


  /********Booking************/
  .booking-tekst{
    font-size: 25px;
    padding: 0 30px 0 30px;
  }
  .tekst-box-overskrift{
    font-size: 60px;
  }
  .book-overskrift{
    font-size: 40px;

  }

  .maps {
    width:300px;
  }
  
  .gmap_canvas {
    width:300px;
  }

  #tittel{

    font-size: 25px;
  }
  .book-tekst-box {
    /* top / right / bottom / left */
    padding: 16px 16px 16px 32px ;
  }


  /******Aktuell*****/

  .aktuell-tekst{
    padding: 16px 16px 16px;
    
  }

  .akutell-bilde{
    width: 15%;
  }

  figure {
    width: 10px;
  }
  
  
    


}



  
 

  

