
/*****************/
/*Tablets*********/
@media(max-width:59em){
   /* MOBILE NAVIGATION */
  
   .nav-list{ 
    display:none;
    position: absolute;
    background-color: #e4decd;
    right: 0;
    left: 0;
    text-align: center;
    padding: 19px 0;
   }
   .nav-list li:hover {
    display: inline-block;
    background-color:#4c9e9e;
   }
   .nav-list li + li {
    margin-top: 16px;
   }
   input[type=checkbox]:checked ~ .nav-list{
    display: block;
   }
   .knapp{
    display: block;
   }



  /******Velkomen siden******/
  .info{
  
    grid-template-columns: 1fr;
    
  }
  .info-bilde{
    width: 70%;
  }
  .Velkommen-seksjon{
    padding: 2rem 0 4rem 0;
  }
  .info-bilde{
    width: 80%;
  }
  .info{
    padding: 0 3.2rem;
    grid-template-columns: 1fr;
  }
  .info-bilde{
    width: 60%;
    align-items: center;
    height: 70%;
  }


  .book{
    grid-template-columns: 1fr 1fr;
  }

  .book-tekst-box {
    padding: 3.2rem;
  }
  p{
  
    font-size: 1.56rem;
    line-height: 1.4;
    
 
  }
  h1{

    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
  }
  h2 {
    font-size: 2rem;
    padding: 2rem 0;
}

/**Meny***/

.meny {

  display: grid;
  grid-template-columns: 1fr;
  padding-left: 8rem ;
  
}

/********Aktuel og tilgjenglighet********/
main{

  width: 50%;
  margin: 4rem;
}
.aktuell-tekst{
  border-style: solid;
  padding: 1rem 1rem 1rem;
}
main > article{
  padding: 1rem 1rem 1rem;
  margin-bottom: 2rem;
  border-radius: 5px;
}
}

/**************************/
/*Media mobil screen*******/



@media (max-width: 30em) {

 
  .footer-container{
    display: grid;
    grid-template-columns: 1fr;

}
.footer-container p{
  font-size: 1rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}


}